<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="suite1" verbose="1" parallel="tests" thread-count="3">
    <test name="test1" preserve-order="false">
        <parameter name="wda" value="8100"/>
        <parameter name="deviceName" value="iPhone 7"/>
        <parameter name="port" value="4725"/>
        <classes>
            <class name="IOSTest"/>
        </classes>
    </test>

    <!--<test name="test2" preserve-order="false">-->
        <!--<parameter name="wda" value="8101"/>-->
        <!--<parameter name="deviceName" value="iPhone SE"/>-->
        <!--<parameter name="port" value="4726"/>-->
        <!--<packages>-->
            <!--<package name=""/>-->
        <!--</packages>-->
    <!--</test>-->
</suite>